<?xml version="1.0"?>

<launch>

<!-- gps -->
	<arg name="gps_port" default="/dev/ttyUSB1"/>
	<node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="gpsfix">
		<param name="~port:" value="$(arg gps_port)" />
	</node>
	<node pkg="gps_common" type="utm_odometry_node" name="utm">
		<remap from="odom" to="odom_utm"/>
	</node>

</launch>
