<?xml version="1.0"?>
<launch>
	<include file="$(find super_cool_robot)/launch/static_tf.launch" />


	<node pkg="super_cool_robot" type="odom_sim.py" name="odom_sim" />
	<node pkg="super_cool_robot" type="twist_sim.py" name="twist_sim" />

	<include file="$(find super_cool_robot)/launch/imu.launch" />
		<param name="microstrain_3dmgx2_node/port" type="string" value="/dev/ttyUSB0"/>
	<include file="$(find super_cool_robot)/launch/gps.launch" />
		<param name="gpsfix/port" type="string" value="/dev/ttyUSB1"/>
	<include file="$(find super_cool_robot)/launch/arduino.launch"/>
	<include file="$(find super_cool_robot)/launch/localization_odom.launch" />
	<node pkg="super_cool_robot" type="super_cool_robot_node" name="robot" output="screen" />
</launch>
